body {
    background-color: cream;
}
h1 {
    color: indigo;
}
h2 {
	color: slateblue;
}
p {
    color: darkorchid;
}
span.big {
	color: purple;
	font-size: 80px;
	vertical-align: middle; 
}
span.medium {
	color: green;
	font-size: 60px;
	vertical-align: 30px; 
}
span.small {
	color: blue;
	font-size: 40px;
	vertical-align: -10px; 
}
header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}
nav {
    float: left;
    max-width: 300px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 300px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}